@mixin testborder {
  border: 1px solid green;
}

@mixin verdana {
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

@mixin courier {
  font-family: Courier, "Courier New", sans-serif;
}

@mixin sense_light {
  font-family: "Sense-Light", Arial, sans-serif;
  font-weight: normal;
  font-weight: normal;
}

@mixin sense_light_italic {
  font-family: "Sense-LightItalic", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin sense_medium {
  font-family: "Sense-Medium", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin montez {
  font-family: "Montez", "Rochester", "Times New Roman";

}

@mixin arial {
  font-family: Arial, Helvetica, Verdana, sans-serif;
}

@mixin arialblack {
font-family: 'Arial Black', 'Arial Bold', 'Helvetica Bold', sans-serif;
}

@mixin courier {
  font-family: Courier, "Courier New", sans-serif;
}

@mixin diavlobook {
  font-family: "diavlobook", Arial, sans-serif;
  font-weight: normal;
  font-weight: normal;
}

@mixin diavlolight {
  font-family: "diavlolight", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin diavlomedium {
  font-family: "diavlomedium", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}
